{% extends "layout.html" %}
{% block body %}


        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static',filename='assets/img/dashboard-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>ADMIN PANEL</h1>
                            <span class="subheading">Manage Your Posts!!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>Basic Actions</h1>
                <hr>

                <a href="/dashboard"> <button class="btn btn-primary"> Dashboard Home </button> </a>
                    <a href="/logout"> <button class="btn btn-primary"> Logout </button> </a>
                <hr>
                <h1>Edit Posts</h1>
                <hr>
                
                            <form id="contactForm" method="post" name="sentMessage" action="/edit/{{sno}}">
                                <div class="form-floating">
                                    <input class="form-control" id="title" name="title" type="text" value="{{post.title}}" placeholder="Enter the new Title..." data-sb-validations="required" />
                                    <label for="title">Title</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A title is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="tagline" name="tagline" type="text" value="{{post.tagline}}" placeholder="Enter the new tagline..." data-sb-validations="required" />
                                    <label for="tagline">Tagline</label>
                                    <div class="invalid-feedback" data-sb-feedback="tagline:required">A tagline is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="slug" name="slug" type="text" value="{{post.slug}}" placeholder="Enter the slug..." data-sb-validations="required" />
                                    <label for="slug">Slug</label>
                                    <div class="invalid-feedback" data-sb-feedback="Slug:required">Slug is required.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="content" name="content" placeholder="Enter your content here..." style="height: 12rem" data-sb-validations="required">{{post.content}}</textarea>
                                    <label for="content">Content</label>
                                    <div class="invalid-feedback" data-sb-feedback="content:required">Content is required.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="img_file" name="img_file" placeholder="Give your image file address here..." style="height: 12rem" data-sb-validations="required">{{post.img_file}}</textarea>
                                    <label for="img_">Image File</label>
                                    <div class="invalid-feedback" data-sb-feedback="img_file:required">Image is required.</div>
                                </div>
                                <br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary" id="submitButton" type="submit">Submit</button>
                            </form>



                </div>
            </div>
        </div>
        {% endblock %}